footer.footer
                .footer__container
                    p.container__contenido__footer Este es un proyecto para el curso de Algebra lineal hecho por:
                    ul.container__nombres 
                        li.nombres__letras Gadiel 
                        li.nombres__letras Jairon 
                        li.nombres__letras Juan Luis
                    p.container__licencia Redaccion y creación del proyecto hecho por los mismos.