extend suma.pug 
block  suma
            div.encabezado
                header
                    span  
                        h1.encabezado__titulo #{titulo}
                nav.menu__opciones 
                        ul.opciones__menu 
                            a(href="../index.html") 
                                li.opcion__temas #{opciones[2]}
                            li.opcion_operaciones #{opciones_operaciones[0]}
            article.contenido
                section.contenido__cuerpo
                    h2.contenido__cuerpo__titulo Suma de Matrices
                    form(action="", class="formulario")
                        p.contenido__cuerpo__contenido Elige la dimencion de la matriz:
                        p(class="contenido__cuerpo__contenido", class="nota") Nota:
                        p.contenido__cuerpo__contenido Si las columnas y filas no son las deseadas vuelve a presionar, volver a crear matriz
                        label.contenido__cuerpo__contenido Colummnas
                        input(type="number", class="NumColumnas", class="Styleinput1", inputmode="numeric", value ="2", min="2", max ="10" ondrop="return false;" onpaste="return false;" onkeypress="return event.charCode>=48 && event.charCode<=57" required)  
                        label.contenido__cuerpo__contenido Filas
                        input(type="number", class="NumFilas",class="Styleinput1", inputmode="numeric", value ="2", min="2", max ="10" ondrop="return false;" onpaste="return false;" onkeypress="return event.charCode>=48 && event.charCode<=57" required)
                        br
                        input(type="submit", value="Crear Matriz", class="BotomCrearMatriz")
                    section(class="inactive" class="Matrices" )
                        article(class="MatrizACrear")
                            form(class="ReqSumar")
                                    label (Opcional) 
                                    input(type="number", class="Styleinput2", class="Escalar1", value="1", ondrop="return false;" onpaste="return false;" onkeypress="return event.charCode>=48 && event.charCode<=57" required)
                                    span x
                                    .MatrzACrear__Interior1
                                        table(class="tabla1")
                                        
                                    br
                                    span +
                                    br
                                    label (Opcional) 
                                    input(type="number", class="Styleinput2", class="Escalar2", value="1", ondrop="return false;" onpaste="return false;" onkeypress="return event.charCode>=48 && event.charCode<=57" required)
                                    span x
                                    .MatrzACrear__Interior2
                                        table(class="tabla2")
                                        input(type="submit", value="Volver a crear matriz", class="Botom")
                                        input(type="submit" value="Sumar matriz" class="Botom", class="BotomSumar")
                        article(class="Resuldado__suma", class="inactive")
                            section.resultado 
                                table.values
                                a(href="./sumas_cuerpo.html") 
                                        input(type="submit", value="Hacer otra suma" class="Botom")
                                input(type="submit", value="Borrar datos", class="Botom", class="BorrarDatos")
                                a(href="../index.html") 
                                        input(type="submit", value="Regresar al inicio" class="Botom")
                            
            script(src="../JS/operaciones.js")
                        
                    