extend componentesHTML/encabezado.pug 
block contenidos 
            div.encabezado
                header
                    span  
                        h1.encabezado__titulo #{titulo}
                nav.menu__opciones 
                    a(href ="#" class ="temas__letras")
                            ul.letras__list 
                                a(href="componentesHTML/sumas_cuerpo.html")
                                    li Realizar Suma De Matrices

                                
            article.contenido
                section.contenido__cuerpo
                    h2.contenido__cuerpo__titulo ¿Que es una matriz?
                    p.contenido__cuerpo__contenido Son parte importante en la algebra lineal, y aque se estudian las propiedades de la mismas, ya que tienen complementan temas como los vectores y los sistemas de ecuaciones lineales.
                    p.contenido__cuerpo__contenido Son elementos en conjuntos ordenados de una estructura de filas y columnas.Dependiendo de sus filas y columnas que tenga pordemos hablar de que tiene cierta dimención.
                    h2.contenido__cuerpo__titulo Suma de Matrices 
                    p.contenido__cuerpo__contenido Para la suma de matrices, es muy sencillo ya que lleva un proceso bastante fácil:
                    p.contenido__cuerpo__contenido Observamos las matrices, tomamos los números en orden según la fila y columna para sumar. Por ejemplo, el 3 y el 1.  
                    img(src="../imagenes/matrizejemplo1.png", alt="Ejemplo", class="matrizejemplo1")
                    p.contenido__cuerpo__contenido Los sumamos y los colocamos en la misma posición que tenían los anteriores números:
                    img(src="../imagenes/matrizejemplo2.png", alt="Ejemplo", class="matrizejemplo2")
                    p.contenido__cuerpo__contenido Y de la misma manera sumamos los demás números
                    img(src="../imagenes/matrizejemplo3.png", alt="Ejemplo", class="matrizejemplo3")
                    p.contenido__cuerpo__contenido Ahora bien, se pueden multiplicar por escalares, un escalar simplemente es un número cualquiera como, por ejemplo: 1, 2, -1, 4.5, etc. Antes de sumar se multiplican los números por el escalar:
                    img(src="../imagenes/matrizejemplo4.png", alt="Ejemplo", class="matrizejemplo4")
                    p.contenido__cuerpo__contenido Ahora para multiplicar escalares, se toma el primer número de la primera fila y primera columna y se multiplica por el escalar, así mismo con las demás.
                    img(src="../imagenes/matrizejemplo5.png", alt="Ejemplo", class="matrizejemplo5")
                    p.contenido__cuerpo__contenido Y hacemos el mismo proceso de las sumas si lo sugiere el ejercicio.
                    