extend componentesHTML/encabezado.pug 
block contenidos 
            div.encabezado
                header
                    span  
                        h1.encabezado__titulo #{titulo}
                nav.menu__opciones 
                    a(href ="#" class ="temas__letras")
                            ul.letras__list 
                                a(href="componentesHTML/sumas_cuerpo.html")
                                    li Realizar Suma De Matrices

                                
            article.contenido
                section.contenido__cuerpo
                    h2.contenido__cuerpo__titulo ¿Que es una matriz?
                    p.contenido__cuerpo__contenido Son parte importante en la algebra lineal, y aque se estudian las propiedades de la mismas, ya que tienen complementan temas como los vectores y los sistemas de ecuaciones lineales.
                    p.contenido__cuerpo__contenido Son elementos en conjuntos ordenados de una estructura de filas y columnas.Dependiendo de sus filas y columnas que tenga pordemos hablar de que tiene cierta dimención.
            
            script(src="./JS/main.js")
                    

