* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.inactive {
  display: none;
}

.encabezado {
  width: 100%;
  background-image: url(../imagenes/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  -webkit-padding-before: 20px;
          padding-block-start: 20px;
}
.encabezado header {
  width: 100%;
  height: 20vh;
}
.encabezado__titulo {
  color: white;
  text-align: center;
  font-size: 40px;
}
.encabezado nav {
  width: 100%;
  height: 10vh;
  background-color: rgba(201, 213, 224, 0.1);
}
.encabezado nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.encabezado nav ul li:hover:nth-child(1) {
  background-color: rgb(106, 103, 255);
  cursor: pointer;
}
.encabezado nav ul li:hover:nth-child(2) {
  background-color: rgb(106, 103, 255);
  cursor: pointer;
}
.encabezado nav a {
  text-decoration: none;
  color: white;
}
.encabezado nav li {
  margin: 5px;
  font-size: 25px;
}
.encabezado .option__temas {
  -webkit-margin-start: 350px;
          margin-inline-start: 350px;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
}
.encabezado .option__operaciones {
  -webkit-margin-start: 990px;
          margin-inline-start: 990px;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
}

.contenido {
  background-color: black;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}
.contenido__cuerpo {
  width: 70%;
  text-align: justify;
  -webkit-padding-before: 30px;
          padding-block-start: 30px;
  -webkit-padding-after: 30px;
          padding-block-end: 30px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  -webkit-padding-end: 20px;
          padding-inline-end: 20px;
  background-color: white;
}
.contenido__cuerpo__titulo {
  font-size: 35px;
}
.contenido__cuerpo__contenido {
  font-size: 25px;
}

.footer {
  background-color: black;
  -webkit-padding-before: 50px;
          padding-block-start: 50px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-padding-after: 50px;
          padding-block-end: 50px;
}
.footer__container {
  width: 70%;
}
.footer__container p {
  color: white;
  font-size: 15px;
  text-align: center;
}
.footer__container ul {
  list-style: none;
}
.footer__container ul li {
  font-size: 15px;
  color: white;
  text-align: center;
}

@media (max-width: 640px) {
  .encabezado nav ul li {
    font-size: 20px;
  }
}