$ColorFondo: black;
$ColorClaroLetras: white;
$Bigletrre: 40px;
$Mediumlettre: 25px;
$white_found: rgba(201, 213, 224, 0.1);
$color_resaltado: rgb(106, 103, 255);
$LetraTitulo_Contenido: 35px;
$LetraParafo_Contenido: 25px;
$Letra_footer: 15px;
$Opciones__list: 20px;
$Opciones__responsive: 15px;
$Letra__Botom: 20px;

*{
    box-sizing: border-box;
    padding-top: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    .Botom:hover{
        cursor: pointer;
    }
}

.inactive{
  display: none;
}

.encabezado{
    width: 100%;

    background-image:url(../imagenes/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding-block-start: 20px;
    header{
        width: 100%;
        height: 20vh;
    }
    &__titulo{
        color: $ColorClaroLetras;
        text-align: center;
        font-size: $Bigletrre;
    }
    nav{
        width: 100%;
        height: 10vh;
        background-color: $white_found ;
    
        ul{
            list-style: none;
            display: flex;
            justify-content: space-around;
            li:hover:nth-child(1){
                background-color: $color_resaltado;
                cursor: pointer;
            }
        }
        a{
            text-decoration: none;
            color: $ColorClaroLetras;
        }
        li{
            margin: 5px;
            font-size: $Mediumlettre;
            color: $ColorClaroLetras;
            
        }
        
        
    }
   
    .option__temas{
        margin-inline-start: 350px;
        margin-block-end: 10px;
    }
    .option__operaciones{
        margin-inline-start: 990px;
        margin-block-end: 10px;
    }
}
.contenido{
    background-color: $ColorFondo;
    display: grid;
    justify-items: center;
    &__cuerpo{
        width: 70%;
        padding-block-start: 30px;
        padding-block-end: 30px;
        
        background-color: $ColorClaroLetras;
        margin-block-end: 10px;
        margin-block-start: 10px;
        &__titulo{
            font-size: $LetraTitulo_Contenido;
            text-align: center;
        }
        &__contenido{
            font-size: $LetraParafo_Contenido;
            }
        }
    }
    .formulario{
        display: grid;
        place-items: center;
        gap: 15px;
        .BotomCrearMatriz{
            width: 200px;
            height: 50px;
            font-size: $Letra__Botom;
            background-color: $ColorFondo;
            color: $ColorClaroLetras;
            margin-block-start: 15px;
        }
        .Styleinput1{
            width: 100px;
            height: 40px;
            font-size: $Letra__Botom;
           
        }

    }
    table{
        display: grid;
        gap: 8px;
        place-content: center;
    }
    .resultado{
        display: grid;
        place-items: center;
        .Botom{
            width: 200px;
            height: 50px;
            font-size: $Letra__Botom;
            background-color: $ColorFondo;
            color: $ColorClaroLetras;
            margin-block-start: 15px;
        } 
    }
    .Resuldado__suma{
        table{
            margin-block-start: 30px;
            margin-block-end:  30px;
            display: grid;
            place-content: center;   
        }
        .resultado{
            .Styleinput2{
                width: 100px;
                height: 40px;
                font-size: $Letra__Botom;
               
            }
        }
    }
    

.footer{
    background-color: $ColorFondo;
    padding-block-start: 50px;
    display: grid;
    justify-items: center;
    padding-block-end: 50px;
    &__container{
        width: 70%;

        p{
            color:$ColorClaroLetras;
            font-size: $Letra_footer;
            text-align: center;
        }
        ul{
            list-style: none;
            li{
                font-size: $Letra_footer;
                color: $ColorClaroLetras;
                text-align: center;
                
            }
        }
    }
}

.MatrizACrear{
    display: grid;
    place-items: center;
    margin-block-start: 30px ;
    .Styleinput2{
        width: 50px;
        height: 40px;
        font-size: $Letra__Botom;
    }
    div{
        margin-block-start: 10px;
        height: auto;
        width: auto;
    }
    span{
        font-size: $LetraParafo_Contenido;
    }
    .Botom{
        width: 200px;
            height: 50px;
            font-size: $Letra__Botom;
            background-color: $ColorFondo;
            color: $ColorClaroLetras;
            margin-block-start: 15px;
    }

}

@media (max-width: 640px){
    .encabezado{
        ul{
            li{
                font-size: $Opciones__list;
            }
        }
    }
}

